{
  "log": {
    "_recordingName": "validate-invocation",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "cd2392fd9616d5c838b1a86480c1d61e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"token\":\"[REDACTED]\"}"
          },
          "queryString": [
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://alliances.goskope.com/api/v1/clients?limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 930,
            "text": "{\"status\":\"success\",\"msg\":\"\",\"data\":[{\"attributes\":{\"_id\":\"CLW247-360\",\"client_install_time\":1628251103,\"client_version\":\"94.0.0.946\",\"device_id\":\"CLW247-360\",\"host_info\":{\"device_make\":\"Dell Inc.\",\"device_model\":\"Vostro 3580\",\"hostname\":\"CLW247-360\",\"managementID\":\"\",\"nsdeviceuid\":\"[REDACTED]\",\"os\":\"Windows\",\"os_version\":\"10.0 (2009)\"},\"last_event\":{\"actor\":\"System\",\"event\":\"Change in network\",\"npa_status\":\"Steering Disabled\",\"status\":\"Disabled\",\"timestamp\":1651845050},\"users\":[{\"_id\":\"4ee2429de6f73015e8e70bda\",\"device_classification_status\":\"Managed\",\"last_event\":{\"actor\":\"System\",\"event\":\"Change in network\",\"npa_status\":\"Steering Disabled\",\"status\":\"Disabled\",\"timestamp\":1651845050},\"user_added_time\":1628250874,\"user_source\":\"Manual\",\"user_state\":0,\"userkey\":\"[REDACTED]\",\"username\":\"priyank.shah2@crestdatasys.com\"}]}}]}"
          },
            {
              "expires": "1970-01-01T00:00:01.000Z",
              "httpOnly": true,
              "maxAge": 0,
              "name": "ci_session",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1712,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
