{
  "log": {
    "_recordingName": "fetch-app-instances",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "1b96860cd56345883bb255cddf831feb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"token\":\"[REDACTED]\"}"
          },
          "queryString": [
            {
              "name": "op",
              "value": "list"
            },
            {
              "name": "limit",
              "value": "500"
            },
            {
              "name": "skip",
              "value": "0"
            }
          ],
          "url": "https://alliances.goskope.com/api/v1/app_instances?op=list&limit=500&skip=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 214,
            "text": "{\"status\":\"success\",\"data\":[{\"app\":\"Microsoft Office 365 OneDrive for Business\",\"instance_name\":\"MyNetskopeDemo\",\"instance_id\":\"mynetskopedemo\",\"type\":\"Custom\",\"tags\":[null],\"last_modified\":\"2022-04-29 07:46:03\"}]}"
          },
            {
              "expires": "1970-01-01T00:00:01.000Z",
              "httpOnly": true,
              "maxAge": 0,
              "name": "ci_session",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1330,
      },
      {
        "_id": "a64a2bfbf0a8586d511b6317b9369e66",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"token\":\"[REDACTED]\"}"
          },
          "queryString": [
            {[...]
