{
  "log": {
    "_recordingName": "fetch-and-build-user-configuration",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "ac27007468283a82ee95a6503c2d44a3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"token\":\"[REDACTED]\"}"
          },
          "queryString": [
            {
              "name": "email",
              "value": "priyank.shah2@crestdatasys.com"
            },
            {
              "name": "configtype",
              "value": "agent"
            }
          ],
          "url": "https://alliances.goskope.com/api/v1/userconfig?email=priyank.shah2%40crestdatasys.com&configtype=agent"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 463,
            "text": "{\"status\":\"success\",\"msg\":\"\",\"data\":{\"email\":\"priyank.shah2@crestdatasys.com\",\"brandingdata\":{\"AddonCheckerHost\":\"achecker-alliances.goskope.com\",\"AddonCheckerResponseCode\":\"netSkope@netSkope\",\"AddonManagerHost\":\"addon-alliances.goskope.com\",\"EncryptBranding\":false,\"OrgKey\":\"[REDACTED]\",\"OrgName\":\"Netskope\",\"SFCheckerHost\":\"sfchecker.goskope.com\",\"SFCheckerIP\":\"[REDACTED]\",\"UserEmail\":\"priyank.shah2@crestdatasys.com\",\"UserKey\":\"[REDACTED]\"}}}"
          },
            {
              "expires": "1970-01-01T00:00:01.000Z",
              "httpOnly": true,
              "maxAge": 0,
              "name": "ci_session",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 908,
      },
      {
        "_id": "301fdbe9fe569206a98253f45724451c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"token\":\"[REDACTED]\"}"
          },
          "queryString": [
            {
[...]
