{
  "log": {
    "_recordingName": "fetch-and-build-user-configuration",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e831f389aefbf207e1753dc1cd7b425b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"token\":\"[REDACTED]\"}"
          },
          "queryString": [
            {
              "name": "limit",
              "value": "500"
            },
            {
              "name": "skip",
              "value": "0"
            }
          ],
          "url": "https://alliances.eu.goskope.com/api/v1/clients?limit=500&skip=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 17948,
            "text": "{\"status\":\"success\",\"msg\":\"\",\"data\":[{\"attributes\":{\"_id\":\"z5d3sHSYG05r6bZweIAs_95C8C428-9BBC-061B-1A82-576A4F51DB9A\",\"client_version\":\"117.0.0.2090\",\"device_id\":\"z5d3sHSYG05r6bZweIAs_95C8C428-9BBC-061B-1A82-576A4F51DB9A\",\"host_info\":{\"device_make\":\"Apple\",\"device_model\":\"Mac15,3\",\"hostname\":\"M3-General\",\"last_hostinfo_update_timestamp\":\"1720527733\",\"macAddresses\":[\"32:9F:41:B9:04:FC\",\"10:9F:41:B9:04:FC\",\"00:E0:4C:68:00:39\"],\"managementID\":\"0199ADC3943A5DA18141F38815843120\",\"migrated_revision\":\"v1\",\"nsdeviceuid\":\"[REDACTED]\",\"old_nsdeviceuid\":\"\",\"os\":\"Mac\",\"os_version\":\"14.3.1\",\"serialNumber\":\"GYXPN2KV2F\",\"steeringConfig\":\"Default tenant config\"},\"last_event\":{\"actor\":\"System\",\"event\":\"Tunnel Up\",\"npa_status\":\"Enabled\",\"service_name\":\"Private Access\",\"status\":\"Enabled\",\"status_v2\":\"Enabled\",\"timestamp\":1722898295},\"last_event_service_name\":\"Private Access\",\"users\":[{\"_id\":\"80087e7c64f4836bda1eb0a0\",\"device_classification_custom_status\":\"unmanaged\",\"device_classification_status\":\"Unmanaged\",\"last_event\":{\"actor\":\"System\",\"event\":\"Tunnel Up\",\"npa_status\":\"Enabled\",\"service_name\":\"Private Access\",\"status\":\"Enabled\",\"status_v2\":\"Enabled\",\"timestamp\":1722898295},\"user_added_time\":1710151785.0721564,\"user_source\":\"Manual\",\"user_state\":0,\"userkey\":\"[REDACTED]\",\"username\":\"levente.fangli@cososys.com\"}]}},{\"attributes\":{\"_id\":\"vSLVto5lgjDKwblfHdxy_32EA6176-413E-F32D-664F-86B2CB4768A7\",\"client_install_time\":1722366126,\"client_version\":\"117.0.0.2090\",\"device_id\":\"vSLVto5lgjDKwblfHdxy_32EA6176-413E-F32D-664F-86B2CB4768A7\",\"host_info\":{\"device_make\":\"VMware, Inc.\",\"device_model\":\"VMware Virtual Platform\",\"hostname\":\"oak-vcs1437\",\"last_hostinfo_update_timestamp\":\"1722366137\",\"macAddresses\":[\"00:50:56:AE:64:83\",\"00:50:56:AE:E9:68\"],\"managementID\":\"\",\"migrated_revision\":\"v2\",\"nsdeviceuid\":\"[REDACTED]\",\"old_nsdeviceuid\":\"58484882-EF1A-55A4-DDCE-9A09C6D0B508\",\"os\":\"Windows\",\"os_version\":\"11.0.22631\",\"serialNumber\":\"VMware-42 2e 35 8a 08 57 91 7d-c8 2e 1c b2 7a be ea cc\",\"steeringConfig\":\"Default tenant config\"},\"last_event\":{\"actor\":\"System\",\"event\":\"Tunnel Up\",\"npa_status\":\"Enabled\",\"service_name\":\"Internet Security\",\"status\":\"Enabled\",\"status_v2\":\"Enabled\",\"timestamp\":1722894619},\"last_event_service_name\":\"Internet Security\",\"users\":[{\"_id\":\"8a058acd4f6aab36ac6c92d9\",\"device_classification_custom_status\":\"unmanaged\",\"device_classification_status\":\"Unmanaged\",\"last_event\":{\"actor\":\"System\",\"event\":\"Tunnel Up\",\"npa_status\":\"Enabled\",\"service_name\":\"Internet Security\",\"status\":\"Enabled\",\"status_v2\":\"Enabled\",\"timestamp\":1722894619},\"user_added_time\":1714627491.7501545,\"user_groups\":[\"Rvbd_npm\"],\"user_source\":\"Directory\",\"user_state\":0,\"userkey\":\"[REDACTED]\",\"username\":\"mcaponetti@riverbed.com\"}]}},{\"attributes\":{\"_id\":\"s3cdns0BnSSxwwPjexH7_8251E21F-2223-73F5-D308-70FF560EE4C2\",\"client_install_time\":1719143870,\"client_version\":\"117.0.0.2090\",\"device_id\":\"s3cdns0BnSSxwwPjexH7_8251E21F-2223-73F5-D308-70FF560EE4C2\",\"host_info\":{\"device_make\":\"Google\",\"device_model\":\"Google Compute Engine\",\"hostname\":\"instance-ngcc1\",\"last_hostinfo[...]
