{
  "log": {
    "_recordingName": "fetch-and-build-devices-and-users",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "e831f389aefbf207e1753dc1cd7b425b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"token\":\"[REDACTED]\"}"
          },
          "queryString": [
            {
              "name": "limit",
              "value": "500"
            },
            {
              "name": "skip",
              "value": "0"
            }
          ],
          "url": "https://alliances.goskope.com/api/v1/clients?limit=500&skip=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 11136,
            "text": "{\"status\":\"success\",\"msg\":\"\",\"data\":[{\"attributes\":{\"_id\":\"CLW247-360\",\"client_install_time\":1628251103,\"client_version\":\"94.1.1.960\",\"device_id\":\"CLW247-360\",\"host_info\":{\"device_make\":\"Dell Inc.\",\"device_model\":\"Vostro 3580\",\"hostname\":\"CLW247-360\",\"managementID\":\"\",\"nsdeviceuid\":\"[REDACTED]\",\"os\":\"Windows\",\"os_version\":\"10.0 (2009)\"},\"last_event\":{\"actor\":\"System\",\"event\":\"System shutdown\",\"npa_status\":\"Steering Disabled\",\"status\":\"Disabled\",\"timestamp\":1653479089},\"users\":[{\"_id\":\"4ee2429de6f73015e8e70bda\",\"device_classification_status\":\"Managed\",\"last_event\":{\"actor\":\"System\",\"event\":\"System shutdown\",\"npa_status\":\"Steering Disabled\",\"status\":\"Disabled\",\"timestamp\":1653479089},\"user_added_time\":1628250874,\"user_source\":\"Manual\",\"user_state\":0,\"userkey\":\"[REDACTED]\",\"username\":\"priyank.shah2@crestdatasys.com\"}]}},{\"attributes\":{\"_id\":\"HASHLOCK-M-KJUS\",\"client_install_time\":1631805426,\"client_version\":\"94.1.1.960\",\"device_id\":\"HASHLOCK-M-KJUS\",\"host_info\":{\"device_make\":\"Apple\",\"device_model\":\"MacBookPro16,1\",\"hostname\":\"HASHLOCK-M-KJUS\",\"managementID\":\"687C768088CE53F9A79912627CE626AA\",\"nsdeviceuid\":\"[REDACTED]\",\"os\":\"Mac\",\"os_version\":\"10.15.7\"},\"last_event\":{\"actor\":\"System\",\"event\":\"System shutdown\",\"npa_st[...]
